.date{
    margin-left: 20px!important;
}

.btn-dis{
    margin-left: auto;

}
.btn-dis1{
    margin-left: 350px !important;
    margin-top: 50px;
}
.btn-pur{
    margin-left: 200px !important;
    margin-top: -66px;
}
.pur-a{
    margin-top: -20px;
}
.r-dis{
    margin-top: 55px;
}
.btn-dis2{
    margin-left: 40%;
}
.tab-dis{
    padding-top: 50px;
    margin-left: -20px;
    width: 100%;
}
.h1-dis{
    margin-left: -200px;
    padding: 25px;
}

.dis-side{
}
.inpt-d{
    border: 2px solid greenyellow;
    padding: 8px;
}